

/* استایل‌های Slick Slider */
.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 34px;
    color: #cfcfcf;
}

.slick-dots li button:before {
    font-size: 12px;
}

/* رفع مشکل اسکرول افقی */
html,
body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
}

.slick-list.draggable {
    padding: 10px;
}

