@font-face {
    font-family: "IRANSans";
    src: url("../fonts/Vazir-Medium-FD-WOL.ttf") format("tryetype"),
        url("../fonts/Vazir-Medium-FD-WOL.woff") format("woff"),
        url("../fonts/Vazir-Medium-FD-WOL.woff2") format("woff2");
}
@font-face {
    font-family: "Vazir-FD";
    src: url("../fonts/Vazir-Medium-FD-WOL.ttf") format("tryetype"),
        url("../fonts/Vazir-Medium-FD-WOL.woff") format("woff"),
        url("../fonts/Vazir-Medium-FD-WOL.woff2") format("woff2");
}

button,input,a,p,ul,li,select,span,h1,h2,h3,h4,h5,h6,::placeholder,label,div{
    font-family: "Vazir-FD";
}